@model List<TodoTaskModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container mt-4">
    <h2>Tasks</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td><blockquote id="blockquote @task.Id" contenteditable="true" onkeyup="enableSaveButton('@task.Id', this)">@task.Name</blockquote></td>
                    <td>@(task.Completed ? "Yes" : "No")</td>
                    <td><button id="@task.Id" class="btn btn-primary save-button" disabled
                            onclick="updateTaskName('@task.Id')">Save</button></td>
                    <td><button class="btn btn-danger" onclick="deleteTask('@task.Id')">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/js/site.js"></script>
}